*.exe
*.o
*.i
Thumbs.db
build/
.DS_Store
*.a
*.pdb
*.dll
*.lib
dub.selections.json
*.obj
.dub
.vs
docs.json
docs/
*.lst
*.nspc
*.ebm
songs
*.wav
*.flac
*.exp
*.m4a
*.mml
*.bin
*.ptcop
*.pttune
pixtone.tbl
*.spc
dump/
